<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font text-gray-900">Checkout Page</h1>
    </div>
    @if (cartStore.productCount()) {
      <div class="flex justify-end mb-4 lg:w-2/3 w-full mx-auto">
        <button 
          (click)="clearAll()" 
          class="flex gap-x-1 text-gray-600 bg-slate-200 rounded border-0 py-2 px-4 focus:outline-none hover:bg-gray-900 hover:text-slate-200"
        >
          <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="3 6 5 6 21 6" />
            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
          </svg>
          <span>Clear All</span>
        </button>
      </div>
      <div class="lg:w-2/3 w-full mx-auto overflow-auto">
        <table class="table-auto w-full text-left whitespace-no-wrap">
          <thead>
            <tr>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Name</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 text-right">Qty</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 text-right">Price</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 text-right">Total</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"></th>
            </tr>
          </thead>
          <tbody>
            @for (product of cartStore.products(); track $index) {
              <tr>
                <td class="px-4 py-3">{{ product.title }}</td>
                <td class="px-4 py-3 text-right">{{ product.qty }}</td>
                <td class="px-4 py-3 text-right">{{ product.price | currency }}</td>
                <td class="px-4 py-3 text-right">{{ product.qty * product.price | currency }}</td>
                <td class="w-10 text-center">
                  <button 
                    (click)="removeItem(product.id)" 
                    class="text-gray-600 bg-slate-200 rounded border-0 py-1 px-2 focus:outline-none hover:bg-gray-900 hover:text-slate-200"
                  >
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                    </svg>
                  </button>
                </td>
              </tr>
            }
          </tbody>
          <tfoot>
            <tr class="bg-gray-100 border border-gray-900">
              <td class="px-4 py-3 text-lg font-bold text-gray-900">
                TOTAL
              </td>
              <td colspan="3" class="px-4 py-3 text-lg font-bold text-gray-900 text-right">
                {{ cartStore.totalAmount() | currency }}
              </td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="flex justify-end mt-4 lg:w-2/3 w-full mx-auto">
        <button 
          (click)="onProceedToPay()" 
          class="flex gap-x-1 text-gray-600 bg-slate-200 rounded border-0 py-2 px-4 focus:outline-none hover:bg-gray-900 hover:text-slate-200"
        >
          <svg class="h-6 w-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>  
            <path d="M17.2 7a6 7 0 1 0 0 10" />  
            <path d="M13 10h-8m0 4h8" />
          </svg>
          <span>Pay</span>
        </button>
      </div>
    } @else {
      <div class="flex flex-col w-full mb-20 text-center">
        <h3 class="text-2xl font-medium text-gray-900 sm:text-3xl title-font">
          The shopping cart is empty
        </h3>
      </div>
    }
  </div>
</section>